form {
    width: 90%;
    max-width: 300px;
    background-color: rgb(129, 129, 129);
    padding: 33px 40px;
    display: flex;
    align-content: center;
    flex-direction: column;
    border-radius: 10px;
  }
  
  label {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 26px;
    color: #f0b972;
  }
  
  textarea {
    background-color: rgba(131,113,113,1) ;
    border: 2px, solid #202329;
    border-radius: 10px;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
    color: #f0b972;
    font-size: 20px;
    text-align: center;
    padding: 12px;
    height: 96px;
    width: calc(100%-25px);
    resize: none;
  }
  
  textarea::placeholder {
    color: #f0b972;
    font-family: 'Montserrat';
    font-weight: 400;
  }
  
  textarea:focus {
    outline-color: #f0b972;
  }

  
  .TodoForm-buttonContainer {
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .TodoForm-button {
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    color: #202329;
    font-weight: 400;
    width: 120px;
    height: 48px;
    border-radius: 2px;
    border: none;
    font-family: 'Montserrat';
  }
  
  .TodoForm-button-add {
    background-color: #f0b972;
    border-radius: 10px;
    color: #fff;
    transition: border .2s ease-in, color .3s ease-in;

  }
  
  .TodoForm-button-add:hover{
    border: 3px solid rgb(106,77,133);
    color: rgb(106,77,133);
  }
  .TodoForm-button-cancel {
    background-color: #afadaa;
    border-radius: 10px;
    color: #fff;
    transition: border .2s ease-in, color .3s ease-in;
  }
  .TodoForm-button-cancel:hover{
    color: #a70707;
    border: 3px solid #a70707 ;
  }
  